<div class="col-lg-12 mb-5">
    <div class="card">
        <div class="card-header">
            <h3 class="h6 text-uppercase mb-0">Ajouter Un Compte</h3>
        </div>
        <div class="card-body">
            <form class="form-horizontal" #f="ngForm">
                <div class="form-group row">
                    <label class="col-md-3 form-control-label">Nom Bénéficiaire</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="nomBeneficiaire" [(ngModel)]="compte1.nomBeneficiaire" required>
                    </div>
                </div>
                <div class="line"></div>
                <div class="form-group row">
                    <label class="col-md-3 form-control-label">Code Banque</label>
                    <div class="col-md-9">
                        <input type="number" name="codeBank" [(ngModel)]="compte1.codeBank" class="form-control" required>
                    </div>
                </div>
                <div class="line"></div>
                <div class="form-group row">
                    <label class="col-md-3 form-control-label">Partenaire</label>
                    <div class="col-md-9">
                        <select name="ninea" id="partenaire" [(ngModel)]="compte1.partenaire" class="form-control" required>
                          <option *ngFor="let partenaire of partenaire" value="{{partenaire.ninea}}">{{partenaire.ninea}}</option>
                      </select>
                    </div>
                </div>
                <div class="line"></div>
                <div class="form-group row">
                    <div class="col-md-9 ml-auto">
                        <button type="submit" class="btn btn-secondary">Annuler</button>
                        <button type="button" (click)="ajouterCompte(f)" class="btn btn-primary" value="Ajouter">Ajouter</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Rechercher dans le tableau" style="color: black; text-underline-position: auto;">
</mat-form-field>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="numeroCompte">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Numero Compte </th>
            <td mat-cell *matCellDef="let row"> {{row.numeroCompte}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="nomBeneficiaire">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> nom Bénéficiaire </th>
            <td mat-cell *matCellDef="let row"> {{row.nomBeneficiaire}} </td>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="solde">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Solde </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.solde}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="dateCreation">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Création </th>
            <td mat-cell *matCellDef="let row"> {{row.dateCreation | date}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="partenaire">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Partenaire </th>
            <td mat-cell *matCellDef="let row"> {{row.partenaire.ninea}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>