<div class="col-lg-12 mb-5" *ngIf="isAdminWari() || isSuperAdmin() || isPartener() || isAdminPartener()">
    <div class="card">
        <div class="card-header">
            <h3 class="h6 text-uppercase mb-0">Faire Ajout</h3>
        </div>
        <div class="card-body">
            <form class="form-horizontal row" #f="ngForm">
                <div class="col-md-6">
                    <div class="card-header col-md-6">
                        <h3 class="h6 text-uppercase mb-0">UTILISATEUR</h3>
                    </div>
                    <div class="line"></div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label">Username</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="username" [(ngModel)]="registerUserData.username">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label">Password</label>
                        <div class="col-md-9">
                            <input type="password" name="password" [(ngModel)]="registerUserData.password" class="form-control">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label">Nom</label>
                        <div class="col-md-9">
                            <input type="text" placeholder="placeholder" name="nom" [(ngModel)]="registerUserData.nom" class="form-control">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="form-group row ">
                        <label class="col-sm-3 form-control-label">Prénom</label>
                        <div class="col-sm-9">
                            <input type="text" name="prenom" [(ngModel)]="registerUserData.prenom" class="form-control">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="form-group row">
                        <label class="col-sm-3 form-control-label">Adresse</label>
                        <div class="col-sm-9">
                            <input type="text" name="adresse" [(ngModel)]="registerUserData.adresse" class="form-control">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="form-group row ">
                        <label class="col-sm-3 form-control-label">Téléphone</label>
                        <div class="col-sm-9">
                            <input type="text" name="tel" [(ngModel)]="registerUserData.tel" class="form-control">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label">Email</label>
                        <div class="col-md-9">
                            <input type="text" name="email" [(ngModel)]="registerUserData.email" placeholder="Entrer votre email" class="form-control">
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="form-group row">
                        <label class="col-sm-3 form-control-label">imageName</label>
                        <div class="col-sm-9">
                            <img [src]="imageUrl" alt="mise a jour" style="width: 150px;height:80px; ">
                            <input type="file" #Image accept="image/*" (change)="handleFileInput($event.target.files)" name="imageName" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-md-12 form-control-label">Profil
                            <br><small class="text-primary">Rôles dans le Système</small>
                        </label>
                        <div class="col-md-12">
                            <div class="custom-control custom-radio custom-control-inline" *ngIf="isAdminWari()">
                                <input id="profil" type="radio" id="profil" name="profil" [(ngModel)]="registerUserData.profil" value="4" class="custom-control-input">
                                <label id="profil" for="profil" (click)="afficher1()" class="custom-control-label">Admin Système</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline" *ngIf="isAdminWari() || isSuperAdmin()">
                                <input id="profil1" type="radio" name="profil" [(ngModel)]="registerUserData.profil" value="2" class="custom-control-input">
                                <label id="profil1" for="profil1" (click)="afficher()" class="custom-control-label">Partenaire</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline" *ngIf="isPartener()">
                                <input id="profil2" type="radio" name="profil" [(ngModel)]="registerUserData.profil" value="3" class="custom-control-input">
                                <label id="profil2" for="profil2" (click)="afficher2()" class="custom-control-label">Admin Partenaire</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline" *ngIf="isPartener() || isAdminPartener()">
                                <input id="profil3" type="radio" name="profil" [(ngModel)]="registerUserData.profil" value="6" class="custom-control-input">
                                <label id="profil3" for="profil3" (click)="afficher1()" class="custom-control-label">Utilisateur</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline" *ngIf="isAdminWari() || isSuperAdmin()">
                                <input id="profil4" type="radio" name="profil" [(ngModel)]="registerUserData.profil" value="5" class="custom-control-input">
                                <label id="profil4" for="profil4" (click)="afficher1()" class="custom-control-label">Caissier</label>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="(isSuperAdmin() || isAdminWari()) && test" id="newpartenaire">
                        <div class="card-header">
                            <h3 class="h6 text-uppercase mb-0">Ajouter Un PARTENAIRE</h3>
                        </div>
                        <div class="line"></div>
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label">Ninéa</label>
                            <div class="col-md-9">
                                <input type="number" class="form-control" name="ninea" [(ngModel)]="registerUserData.ninea">
                            </div>
                        </div>
                        <div class="line"></div>
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label">Localisation</label>
                            <div class="col-md-9">
                                <input type="text" name="localisation" [(ngModel)]="registerUserData.localisation" class="form-control">
                            </div>
                        </div>
                        <div class="line"></div>
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label">Domaine D'Activité</label>
                            <div class="col-md-9">
                                <input type="text" placeholder="placeholder" name="domaineActivite" [(ngModel)]="registerUserData.domaineActivite" class="form-control">
                            </div>
                        </div>
                        <div class="line"></div>
                    </div>
                    <div *ngIf="(isAdminWari() || isSuperAdmin() || isPartener() || isAdminPartener()) && test" id="newcompte">
                        <div class="card-header">
                            <h3 class="h6 text-uppercase mb-0">Ajouter Un COMPTE</h3>
                        </div>
                        <div class="line"></div>
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label">CODE BANQUE</label>
                            <div class="col-md-9">
                                <input type="number" class="form-control" name="codeBank" [(ngModel)]="registerUserData.codeBank">
                            </div>
                        </div>
                        <div class="line"></div>
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label">BÉNÉFICIAIRE COMPTE</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="nomBeneficiaire" [(ngModel)]="registerUserData.nomBeneficiaire">
                            </div>
                        </div>
                        <div class="line"></div>
                    </div>
                    <div class="form-group row" *ngIf="isPartener() && test2" id="compte">
                        <label class="col-md-3 form-control-label">NUMÉRO COMPTE</label>
                        <select name="compte" id="compte" [(ngModel)]="registerUserData.compte">
                                <option *ngFor="let com of lister" value="{{com.numeroCompte}}">{{com.numeroCompte}}</option>
                            </select>
                    </div>
                </div>
                <div class="form-group row" style="width: 50%; margin: 0 auto;" *ngIf="test || test1 || test2">
                    <div class="col-md-12 ml-auto">
                        <button type="submit" class="btn btn-secondary">Annuler</button>
                        <button type="submit" (click)="registerUser()" class="btn btn-primary">Ajouter</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="page-holder w-100 d-flex flex-wrap" *ngIf="isAdminWari() || isSuperAdmin() ">
    <div class="container-fluid px-xl-12">
        <section class="py-5">
            <div class="col-lg-12 mb-5">
                <div class="card">
                    <div class="card-header">
                        <h6 class="text-uppercase mb-0">LISTER LES UTILISATEURS</h6>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped table-hover card-text" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>USERNAME</th>
                                    <th>PROFIL</th>
                                    <th>NINEA/PARTENAIRE</th>
                                    <th>STATUT</th>
                                    <th>BLOQUER</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let utilisateur of user">
                                    <td>{{utilisateur.username}}</td>
                                    <td>{{utilisateur.roles}}</td>
                                    <td>{{utilisateur.partenaire.ninea}}</td>
                                    <td>{{utilisateur.statut}}</td>
                                    <td>
                                        <button (click)="bloquerUser(utilisateur)" class="btn btn-success">Bloquer</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="page-holder w-100 d-flex flex-wrap" *ngIf="isPartener() || isAdminPartener() ">
        <button type="button" mat-fab (click)="envoie()" id="envoies" style=" width: 15%; height: 100px;" >ATTRIBUER COMPTE</button>
        <div class="card row col-12" id="envoie" style="display: none">
            <div class="card-header">
                <h3 class="h6 text-uppercase mb-0">Faire Ajout</h3>
            </div>
            <div class="card-body">
    <form #g="ngForm" >
        <div class="form-group row">
            <label class="col-md-3 form-control-label">Username</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="username" [(ngModel)]="asscompte.username">
            </div>
        </div>
        <div class="line"></div>
        <div class="form-group row">
            <label class="col-md-3 form-control-label">COMPTE</label>
            <div class="col-md-9">
                <select name="compte" id="compte" [(ngModel)]="asscompte.compte">
                    <option *ngFor="let com of lister" value="{{com.numeroCompte}}">{{com.numeroCompte}}</option>
                </select>
            </div>
        </div>
        <div class="form-group row" style="width: 50%; margin: 0 auto;">
            <div class="col-md-12 ml-auto">
                <button type="submit" (click)="retirer()" class="btn btn-secondary">Annuler</button>
                <button type="submit" (click)="attribuercompte()" class="btn btn-primary">Ajouter</button>
            </div>
        </div>
    </form>
            </div>
        </div>

    <div class="container-fluid px-xl-12">
        <section class="py-5">
            <div class="col-lg-12 mb-5">
                <div class="card">
                    <div class="card-header">
                        <h6 class="text-uppercase mb-0">LISTER LES UTILISATEURS</h6>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped table-hover card-text" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>USERNAME</th>
                                    <th>PROFIL</th>
                                    <th>NINEA/PARTENAIRE</th>
                                    <th>STATUT</th>
                                    <th>BLOQUER</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let utilisateur of users">
                                    <td>{{utilisateur.username}}</td>
                                    <td>{{utilisateur.roles}}</td>
                                    <td>{{utilisateur.partenaire.ninea}}</td>
                                    <td>{{utilisateur.statut}}</td>
                                    <td>
                                        <button (click)="bloquerUser(utilisateur)" class="btn btn-success">Bloquer</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
